/***********************
	GENERAL    fonts(Righteous,Nunito)
***********************/

* {
	box-sizing: border-box;
}




/***********************
	KEYFRAMES
***********************/

@keyframes snow {
0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
 100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}

@-moz-keyframes snow {
0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}

@-webkit-keyframes snow {
0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
 50% {background-color:#b4cfe0;}
 100% {background-position: 500px 1000px, 400px 400px, 300px 300px; background-color:#6b92b9;}
}

@-ms-keyframes snow {
0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
 100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}


body {
	background-color: #6b92b9; 
	background-image: url('../img/snow.png'), url('../img/snow3.png'), url('../img/snow2.png');
	
	-webkit-animation: snow 20s linear infinite;
	-moz-animation: snow 20s linear infinite;
	-ms-animation: snow 20s linear infinite;
	animation: snow 20s linear infinite;
}

form {
}

input {
	line-height:  normal;
	font: inherit;
}

/***********************
	HEADER
***********************/



h1 {
		font-family: 'Righteous', sans-serif;
		text-align: center;
		font-size: 5em;
}

a {
	text-decoration: none;
}

/***********************
	WRAPPER
***********************/





/***********************
	FORMS
***********************/

input[type="text"] {
	border: none;
	font-size: 16px;
	height: auto;
	margin: 0;
	outline: 0;
	padding: 15px;
	width: 100%;
	margin-bottom: 30px;
	box-shadow: 6px 3px 52px 6px gray inset;
	border-radius: 27px;
}




label {
	font-size: 1.50em;
	display: block;
	margin-bottom: 8px;
}

label[for="email"], label[for="password"] {
 		font-size: 1.50em;
}



form {
	font-family: 'Nunito', sans-serif;
	max-width: 300px;
	margin: 10px auto;
	padding: 10px 20px;
	border-radius: 8px;
	margin-bottom: 30px;
}



/***********************
	FIELDSET
***********************/

fieldset {
	text-align: center;
	border: none;
	margin-bottom: 30px;
}

input#remember_me {
	padding: 0;
	margin: 0 4px 8px 0;
}

label.light {
	font-size: 0.75em;
	width: 50%;
	display: inline;
	margin-bottom: 0;
	margin-right: 0;
}

button[type="signin"] {
	text-align: center;
	width: 47%;
	border-radius: 5px;
	margin-bottom: 10px;
}




/***********************
	FOOTER
***********************/

footer {
	font-size: 0.75em;
	text-align: center;
	clear: both;
	padding-top: 50px;
	display: block;
}


/***********************
	COLORS
***********************/

* {
	color: black;
}

h1 {
	text-shadow: 2px 2px gray;
}

header {
}

input[type="text"] {
	background: rgba(255,255,255,0.1);
	background-color: #e8eeef;
	color: #8a97a0;
}


form {
}


button {
	color: #fff;
	background-color: gray;
	border: black;
}

footer {
	color: #fff;
}